{% extends 'core/base.html' %}


{% block background%} {% load static %} {% static 'core/img/fondo.jpg' %}{% endblock%}

{% block headers %}

    <h1>CONTACTENOS</h1>
    <span class="subheading"></span>

 {% endblock %}

{% block content %} 
<div class="row">
<div class="col-lg-8 col-md-10 mx-auto">

    <p><b>FUNDACIÓN LA CANASTA COMUNITARIA</b></p>
    <p>Horario de atención: Lunes a viernes de 8 a.m. a 12 m. y de 2 p.m. a 6:00 p.m. Sábado de 8:00 a.m. a 12:00 m.</p>
    <br>
    
    <p><b>Dirección:</b> Kilometro 5 via Daza</p>
    <p><b>Movil:</b> +57 (3) 313 611 6308</p>
    <p><b>E-mail:</b> canastacomunitaria@gmail.com </p>
  </div>
</div>   
 {% endblock %}     